/* 
Clinic Appointment Management System style.css
Fidella Wu, Jacob Durham
CS340 - Introduction to Databases Spring 2025 

Citations: 
Background linear-gradient CSS from Figma (designed a quick mock-up on Figma before starting)
Source URL: https://www.figma.com/design/WTIOoszjA8Vfy5YqaH8thE/Clinic-Appointment-Management-System?node-id=0-1&t=PDZH46iJw7UdrU8R-1
Date: 5/1/2025

citation for creating the popups for create, update, delete, and reset
Originality: Adapted
Source URL: https://www.w3schools.com/howto/howto_css_modals.asp
Date: 5/2/2025

citation for base table styling
Originality: Adapted
Source URL: https://www.w3schools.com/css/css_table.asp
Date: 5/2/2025

All other CSS styling and design is original. 
*/

/* General Base Styling */
body, html {
    font-family: 'Lato';
}

html {
    min-height: 100vh;
    background: linear-gradient(180deg, #BCEEFF 0%, #B9F2F2 45.19%, #D2FFDC 100%);
}

body {
    margin: 0 20px;
}

p, ul {
    line-height: 25px;
}

.red {
    color: red;
}

h1, h2 {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    justify-content: center;
    position: relative;
}

button {
    background-color: transparent;
    appearance: none;
    border: 0;
}

.add-container {
    position: absolute;
    right: 0;
}

/* Styling for navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    margin-bottom: 25px;
}

nav a, .reset-trigger {
    color: #000;
    font-family: 'Lato';
    text-decoration: underline;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
}

nav a.active, button.add, button.submit, button.cancel, .button {
    background-color: #92C1FF;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    width: fit-content;
    font-size: 16px;
    cursor: pointer;
    color: #000;
}

/* Styling for table */
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #4F7BB8;
    color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.material-symbols-outlined {
    color: #000;
}

/* Styling for add and update form/popup */
.add-form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.add-form-popup.active {
    display: block;
}

.add-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    border: 1px solid #434343;
}

.add-form .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.add-form h2 {
    text-align: center;
    margin-top: 0;
}

.add-form form {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin: auto;
}

.add-form label {
    flex-basis: 125px;
    flex-shrink: 0;
    display: inline-block;
}

.add-form input, .add-form select {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid gray;
    flex: auto;
    background: #fff;
}

.add-form button.submit {
    margin: auto;
}

/* Styling for delete and reset form/popup */
.delete-form-popup, .reset-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.delete-form-popup.active, .reset-popup.active {
    display: block;
}

.delete-form, .confirm-reset {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    border: 1px solid #434343;
}

.delete-form .cancel, .confirm-reset .cancel {
    margin: auto;
}

.delete-form h2, .confirm-reset h2 {
    text-align: center;
    margin-top: 0;
}

.delete-form form, .confirm-reset #confirmReset {
    display: flex;
    flex-direction: row;
    grid-gap: 15px;
    margin: auto;
}

.delete-form label {
    width: 130px;
    display: inline-block;
}


.delete-form button.submit, .confirm-reset .submit {
    margin: auto;
}

.delete-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#scheduledTestsHeader {
    text-align: center;
}

.deletebutton {
    cursor: pointer;
}

