{# Appointmentstests page #}
{# Citations: 
citation for using or in the table headers, to handle when certain values are Null.  
Source URL:https://stackoverflow.com/questions/19614027/jinja2-template-variable-if-none-object-set-a-default-value
Date: 5/20/2025 

citation for updating and deleting from tests
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
Date: 5/20/2025
#}

{% extends "main.j2" %}
{% block content %}

{# READ table #}

<div class="add-container">
    <button class="add">Add</button>
</div>

<h3 id="appointmentsTestsHeader" > AppointmentsTests entries may be removed by deleting the asscociated Test </h3>

<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in appointmentstests_info[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the firstName, lastName, clinicId, dateTime, test name, result #}
        {% for info in appointmentstests_info %}
        <tr>
            <td>{{ info['Appointment Test ID'] or 'N/A' }}</td>
            <td>{{ info['Patient First Name'] or 'N/A' }}</td>
            <td>{{ info['Patient Last Name'] or 'N/A' }}</td>
            <td>{{ info['Clinic'] or 'N/A' }}</td>
            <td>{{ info['Appointment Date Time'] or 'N/A' }}</td>
            <td>{{ info['Test Name'] }}</td>
            <td>{{ info['Test Result'] }}</td>
            <td><a href="{{ url_for('appointmentstests', id=info['Appointment Test ID']) }}"><span class="material-symbols-outlined">edit</span></td>
        </tr>
    
        {% endfor %}
    </tbody>
</table>

<div class="add-form-popup {{"active" if action == "Update"}}">
    <div class="add-form">
        <button class="close"><span class="material-symbols-outlined">close</span></button>

        <h2>{{action}} AppointmentTest</h2>

        <form action="/appointmentstests/{{ "create" if action == "Add" else "update" }}" method="POST">

            <div class="flex-center">
                <label for="appointmentId">Appointment ID: <span class="red">*</span></label>
                <select name="appointmentId" id="appointmentId" value="{{ appointmenttest['appointmentId'] }}" required>
                    {% if action == "Add" %}
                        <option>Select a appointment</option>
                    {% endif %}
                    {% for appointment in appointments %}
                        <option value="{{ appointment['appointmentId'] }}" {% if appointment['appointmentId'] == appointmenttest['appointmentId'] %} selected {% endif %}>{{ appointment['dropDownInfo'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex-center">
                <label for="testId">Test: <span class="red">*</span></label>
                <select name="testId" id="testId" value="{{ appointmenttest['testId'] }}" required>
                    {% if action == "Add" %}
                        <option>Select a test</option>
                    {% endif %}
                    {% for test in tests %}
                        <option value="{{ test['testId'] }}" {% if test['testId'] == appointmenttest['testId'] %} selected {% endif %}>{{ test.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex-center">
                <label for="testResultId">Test Result: <span class="red">*</span></label>
                <select name="testResultId" id="testResultId" value="{{ appointmenttest['testResultId'] }}" required>
                    {% if action == "Add" %}
                        <option>Select a result</option>
                    {% endif %}
                    {% for result in results %}
                        <option value="{{ result['testResultId'] }}" {% if result['testResultId'] == appointmenttest['testResultId'] %} selected {% endif %}>{{ result.result }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock %}