{% extends "main.j2" %}
{% block content %}

<div class="add-container">
    <button class="add">Add</button>
</div>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            <th>Clinic ID</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the clinicId, address, city, state, postalCode, phoneNumber #}
        {% for clinic in clinics %}
        <tr>
            <td>{{ clinic.clinicId }}</td>
            <td>{{ clinic.address }}</td>
            <td>{{ clinic.city }}</td>
            <td>{{ clinic.state }}</td>
            <td>{{ clinic.postalCode }}</td>
            <td>{{ clinic.phoneNumber }}</td>
            <td><a href="{{ url_for('clinics', id=clinic.clinicId) }}"><span class="material-symbols-outlined">edit</span></a></td>
            <td><button><span class="material-symbols-outlined">delete</span></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="add-form-popup {{"active" if action == "Update"}}">
    <div class="add-form">
        <button class="close"><span class="material-symbols-outlined">close</span></button>

        <h2>{{action}} Clinic</h2>

        <form action="/clinics" method="POST">
            <div class="flex-center">
                <label for="address">Address: <span class="red">*</span></label>
                <input type="text" name="address" id="address" value="{{ clinic.address }}" required>
            </div>

            <div class="flex-center">
                <label for="city">City: <span class="red">*</span></label>
                <input type="text" name="city" id="city" value="{{ clinic['city'] }}" required>
            </div>

            <div class="flex-center">
                <label for="state">State: <span class="red">*</span></label>
                <input type="text" name="state" id="state" value="{{ clinic['state'] }}" required>
            </div>

            <div class="flex-center">
                <label for="postalCode">Postal Code: <span class="red">*</span></label>
                <input type="number" name="postalCode" id="postalCode" value="{{ clinic['postalCode'] }}" required>
            </div>

            <div class="flex-center">
                <label for="phoneNumber">Phone Number: <span class="red">*</span></label>
                <input type="number" name="phoneNumber" id="phoneNumber" value="{{ clinic['phoneNumber'] }}">
            </div>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}