{# Clininc Appoointment Management System - Home page #}
{# Citations: 

citation for creating the base home template page
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
Date: 5/2/2025
#}

{% extends "main.j2" %}
{% block content %}

<h2>Home</h2>

{% endblock %}