{# Clinic Appointment Management System - Scheduled Tests page #}
{# Citations: 

citation for creating the base template page, most of this page was adapted from the starter code
Scope: Module
Originality: Adapted
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
Date: 5/2/2025

citation for url_for from Flask documentation
Scope: Line, 71 
Originality: Adapted
Source URL: https://flask.palletsprojects.com/en/stable/api/#flask.Flask.url_for
Date: 5/4/2025

citation for using OR in the table headers, to handle when certain values are Null. 
Scope: Line, 65 - 70
Originality: Adapted
Source URL:https://stackoverflow.com/questions/19614027/jinja2-template-variable-if-none-object-set-a-default-value
Date: 5/20/2025 

citation for creating, updating, and deleting from appointmentstests
Scope: Line, 90
Originality: Adapted
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
Date: 5/20/2025

citation for html tooltips, used in our edit and delete buttons
Scope: Line, 71
Originality: Adapted
source URL: https://www.geeksforgeeks.org/what-is-a-tooltip-in-html/
Date: 5/28/2025
#}

{% extends "main.j2" %}
{% block content %}

{# READ table #}

<div class="flex-center">
    <h2>Scheduled Tests</h2>

    <div class="add-container">
        <button class="add">Add</button>
    </div>
</div>

{% if appointmentstests_info %}
    <h3 id="scheduledTestsHeader" > Scheduled Tests entries may be removed by deleting the asscociated Test </h3>
    <table>
        <thead>
            {# For the table header row, we print the DB attribute names #}
            <tr>
                {% for key in appointmentstests_info[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>

        <tbody>
            {# For each row, print the appointmentTestId, patient name, clinic, dateTime, test name, result #}
            {% for info in appointmentstests_info %}
            <tr>
                <td>{{ info['Scheduled Test ID'] or 'N/A' }}</td>
                <td>{{ info['Patient Name'] or 'N/A' }}</td>
                <td>{{ info['Clinic'] or 'N/A' }}</td>
                <td>{{ info['Appointment Date Time'] or 'N/A' }}</td>
                <td>{{ info['Test Name'] or 'N/A' }}</td>
                <td>{{ info['Test Result'] or 'N/A' }}</td>
                <td><a href="{{ url_for('scheduledtests', id=info['Scheduled Test ID']) }}"><span class="material-symbols-outlined" title ="edit">edit</span></td>
            </tr>
        
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if not appointmentstests_info %}
    <h2 style="text-align:center">No Scheduled Tests to show</h2>
{% endif %}

{# Form to add and update an appointmenttest #}
<div class="add-form-popup {{"active" if action == "Update"}}">
    <div class="add-form">
        <button class="close"><span class="material-symbols-outlined">close</span></button>

        <h2>{{action}} Scheduled Test</h2>

        <form action="/scheduledtests/{{ "create" if action == "Add" else "update" }}" method="POST">
            {% if action == "Update" %}
                <input type="hidden" name="appointmentTestId" id="appointmentTestId" value= "{{ appointmenttest['appointmentTestId'] }}">
            {% endif %}
            <div class="flex-center">
                <label for="appointmentId">Appointment: <span class="red">*</span></label>
                <select name="appointmentId" id="appointmentId" value="{{ appointmenttest['appointmentId'] }}" required>
                    {% if action == "Add" %}
                        <option>Select a appointment</option>
                    {% endif %}
                    {% if action == "Update" %}
                        <option>none</option>
                    {% endif %}
                    {% for appointment in appointments %}
                        <option value="{{ appointment['appointmentId'] }}" {% if appointment['appointmentId'] == appointmenttest['appointmentId'] %} selected {% endif %}>{{ appointment['dropDownInfo'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex-center">
                <label for="testId">Test: <span class="red">*</span></label>
                <select name="testId" id="testId" value="{{ appointmenttest['testId'] }}" required>
                    {% if action == "Add" %}
                        <option value="">Select a test</option>
                    {% endif %}
                    {% for test in tests %}
                        <option value="{{ test['testId'] }}" {% if test['testId'] == appointmenttest['testId'] %} selected {% endif %}>{{ test.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex-center">
                <label for="testResultId">Test Result: </label>
                <select name="testResultId" id="testResultId" value="{{ appointmenttest['testResultId'] }}" >
                    {% if action == "Add" %}
                        <option>Select a result</option>
                    {% endif %}
                    {% if action == "Update" %}
                        <option>none</option>
                    {% endif %}
                    {% for result in results %}
                        <option value="{{ result['testResultId'] }}" {% if result['testResultId'] == appointmenttest['testResultId'] %} selected {% endif %}>{{ result.result }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock %}