{# Clinic Appointment Management System - Statuses page #}
{# Citations: 

citation for creating the base template page, most of this page was adapted from the start code 
Scope: Module
Originality: Adapted
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
Date: 5/2/2025

citation for url_for from Flask documentation
Scope: Line, 53
Originality: Adapted
Source URL: https://flask.palletsprojects.com/en/stable/api/#flask.Flask.url_for
Date: 5/4/2025

citation for creating, updating, and deleting from statuses
Scope: Line, 71
Originality: Adapted
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968
Date: 5/20/2025

citation for html tooltips, used in our edit and delete buttons
Scope: Line, 53
Originality: Adapted
source URL: https://www.geeksforgeeks.org/what-is-a-tooltip-in-html/
Date: 5/28/2025
#}

{% extends "main.j2" %}
{% block content %}

<h2>Statuses</h2>

{# READ table #}
{% if statuses %}
    <table>
        <thead>
            {# For the table header row, we print the DB attribute names #}
            <tr>
                {% for key in statuses[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>

        <tbody>
            {# For each row, print the statusId, status #}
            {% for status in statuses %}
            <tr>
                <td>{{ status['Status ID'] }}</td>
                <td>{{ status['Status'] }}</td>
                <td><a href="{{ url_for('statuses', id=status['Status ID']) }}"><span class="material-symbols-outlined" title ="edit">edit</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if not statuses %}
    <h2 style="text-align:center">No Statuses to show</h2>
{% endif %}

{# Form to update a status #}
<div class="add-form-popup {{"active" if action == "Update"}}">
    <div class="add-form">
        <button class="close"><span class="material-symbols-outlined">close</span></button>

        <h2>{{action}} Status</h2>

        <form action="/statuses/{{ "create" if action == "Add" else "update" }}" method="POST">
            {% if action == "Update" %}
                <input type="hidden" name="statusId" id="statusId" value= "{{ status['statusId'] }}">
            {% endif %}
            <div class="flex-center">
                <label for="status">Status: <span class="red">*</span></label>
                <input type="text" name="status" id="status" value="{{ status.status }}" required>
            </div>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}