{% extends "main.j2" %}
{% block content %}

<div class="add-container">
    <button class="add">Add</button>
</div>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in tests[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the testId, name #}
        {% for test in tests %}
        <tr>
            <td>{{ test.testId }}</td>
            <td>{{ test.name }}</td>
            <td><button><span class="material-symbols-outlined">edit</span></button></td>
            <td><button><span class="material-symbols-outlined">delete</span></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="add-form-popup">
    <div class="add-form">
        <button class="close"><span class="material-symbols-outlined">close</span></button>

        <h2>Add Test</h2>

        <form>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}