{% extends "main.j2" %}
{% block content %}

<div class="add-container">
    <button class="add">Add</button>
</div>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            <th>Test ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the testId, name #}
        {% for test in tests %}
        <tr>
            <td>{{ test.testId }}</td>
            <td>{{ test.name }}</td>
            <td><a href="{{ url_for('tests', id=test.testId) }}"><span class="material-symbols-outlined">edit</span></td>
            <td><button><span class="material-symbols-outlined">delete</span></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="add-form-popup {{"active" if action == "Update"}}">
    <div class="add-form">
        <button class="close"><span class="material-symbols-outlined">close</span></button>

        <h2>{{action}} Test</h2>

        <form action="/tests" method ="POST">
            <div>
                <label for="name">Name: <span class = "red"></span></label>
                <input type="text" name="name" id ="name" value= "{{test['name']}}" required>
            </div>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}